.zoom{
float:center;
}
			
body{
 text-align: center;
}

#photoShow {
    
    height:230px;
    width:230px;
    right:16px;
}

#photoShow div {
    position:absolute;
    z-index: 0;
}
#photoShow div.previous {
    z-index: 1;
}

#photoShow div.current {
    z-index: 2;
}

